trigger:
- main   # Change if your branch name is different

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:

# Install .NET 8 SDK
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

# Restore NuGet packages
- script: dotnet restore
  displayName: 'Restore packages'

# Build project
- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build project'

# Run Reqnroll tests
- script: |
    echo Running tests and forcing TRX location...
    dotnet test --configuration $(buildConfiguration) --logger "trx;LogFileName=TestResults.trx" --results-directory "$(Agent.TempDirectory)"
  displayName: 'Run Tests'


# Publish test results in Azure DevOps
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '$(Agent.TempDirectory)/*.trx'
    searchFolder: '$(Agent.TempDirectory)'
    mergeTestResults: true
    testRunTitle: 'Reqnroll Test Results'

- powershell: |
    Write-Host "Searching for Extent report..."

    # Find newest Extent HTML
    $report = Get-ChildItem -Path "$(Build.SourcesDirectory)" -Recurse -Filter *.html |
              Sort-Object LastWriteTime -Descending |
              Select-Object -First 1

    if ($report -ne $null) {

        Write-Host "Report found at $($report.FullName)"

        # Create staging folder
        $dest = Join-Path "$(Build.ArtifactStagingDirectory)" "ExtentReport"
        New-Item -ItemType Directory -Force -Path $dest | Out-Null

        # Copy FULL report folder (screenshots, css, js etc.)
        Copy-Item -Path "$($report.Directory.FullName)\*" -Destination $dest -Recurse -Force

        # Attach HTML into pipeline summary tab
        Write-Host "##vso[task.addattachment type=Distributedtask.Core.Summary;name=Automation Test Report;]$($report.FullName)"
    }
    else {
        Write-Host "Extent Report not found!"
    }
  displayName: 'Create Pipeline Report Tab'
  condition: succeededOrFailed()

# Upload reports (Extent + Screenshots)- task: PublishBuildArtifacts@1
- task: PublishBuildArtifacts@1
  displayName: 'Upload Automation Reports'
  condition: succeededOrFailed()
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/ReqnrollProject/bin/Release/net8.0/Reports'
    ArtifactName: 'AutomationReports'
    publishLocation: 'Container'
