trigger:
- main   # Change if your branch name is different

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:

# Install .NET 8 SDK
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

# Restore NuGet packages
- script: dotnet restore
  displayName: 'Restore packages'

# Build project
- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build project'

# Run Reqnroll tests
- script: dotnet test --configuration $(buildConfiguration) --no-build --logger "trx"
  displayName: 'Run Tests'

# Publish test results in Azure DevOps
- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/*.trx'
    testRunTitle: 'Reqnroll Test Results'

# Upload reports (Extent + Screenshots)- task: PublishBuildArtifacts@1
- task: PublishBuildArtifacts@1
  displayName: 'Upload Automation Reports'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/**/bin/**/Reports'
    ArtifactName: 'AutomationReports'
    publishLocation: 'Container'
